#hotbar {
    display: flex;
    height: 8vb;
    background-color: #1e1e1e;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: relative;
    justify-content: right;
    z-index: 10;
}

.hotbar-element {
    justify-content: center;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    transition: background-color 200ms ease-out 100ms;
}

.hotbar-element:hover {
    background-color: beige;
}

.fancy-link:link {
    color: white;
    text-decoration: none;
    font-family: DidactGothic;
}